*{
    box-sizing: border-box;
    margin: 0;
}

.animeDetail{
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.animeContainer{
    background: rgb(255,255,255);
    
}